/****************************/
/*          HEADER          */
/****************************/

.header {
  background-color: #e8f0f7;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 4.8rem;
  height: 8rem;
}

.logo {
  font-size: 3rem;
  width: auto;
}

/****************************/
/*        NAVIGATION        */
/****************************/
.nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #555;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: #135089;
}

/****************************/
/*      HERO SECTION        */
/****************************/
.section-hero {
  padding: 4.8rem 0 9.8rem 0;
  background-color: #e8f0f7;
}

.hero {
  max-width: 130rem;
  padding: 0 4.8rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.hero-img-box {
  position: relative;
  display: flex;
  justify-content: center;
}

.hero-img-box::before,
.hero-img-box::after {
  content: "";
  width: 55%;
  height: 55%;
  position: absolute;
  padding-bottom: 35%;
  border-radius: 5px;
}

.hero-img-box::before {
  background-color: #1864ab;
  top: 5%;
  right: 20%;
}

.hero-img-box::after {
  background-color: #bad1e6;
  top: 8%;
  left: 20%;
}

.hero-img {
  width: 55%;
  z-index: 1;
  border-radius: 5px;
}

/****************************/
/*     FEATURED SECTION     */
/****************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.featured-container {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 3.2rem;
  align-items: center;
}

.heading-featured-in {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.85px;
  margin-bottom: 4.8rem;
  line-height: 1.2;
  color: #555;
}

.featured-logos-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  justify-items: center;
  column-gap: 4.8rem;
  row-gap: 3.2rem;
}

.featured-logo {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 40%;
}

/****************************/
/*   HOW IT WORKS SECTION   */
/****************************/
.section-how-works {
  padding: 8rem 0 9.6rem 0;
}

.step-box {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.step-number {
  font-size: 9.8rem;
  font-weight: 600;
  color: #c3c3c3;
  width: 100%;
  letter-spacing: -0.5px;
  opacity: 0.4;
}

.step-number::before {
  content: "Step";
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  display: block;
  text-transform: uppercase;
}

.step-title-box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
}

.step-icon {
  width: 3.2rem;
  height: 3.2rem;
  color: #1864ab;
}

.step-title {
  font-size: 2.4rem;
  font-weight: 500;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/****************************/
/*    SERVICES SECTION      */
/****************************/

.section-services {
  padding: 4.8rem 0 9.6rem 0;
}

.services-img {
  display: flex;
  align-items: center;
}

.services-img img {
  width: 100%;
  border-radius: 5px;
}

.services-box {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2.4rem;
  margin-bottom: 6.4rem;
  padding: 2.4rem;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.services-box:hover {
  transform: scale(1.02);
}

.service-icon {
  width: 3.2rem;
  height: 3.2rem;
  color: #e7f5ff;
  background-color: #1864ab;
  padding: 3.2rem;
  border-radius: 5px;
}

.service-title {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  line-height: 1.5;
}

.service-description {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #555;
}

.housekeeper {
  width: 75%;
}

.housekeeper--imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  align-items: center;
}

.housekeeper-img {
  width: 100%;
  border-radius: 5px;
}

.housekeeper--info {
  justify-self: end;
}

.housekeeper-heading {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.housekeeper-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/****************************/
/*    TESTIMONIALS SECTION  */
/****************************/
.section-testimonials {
  padding: 8rem 0 4.8rem 0;
  background-color: #e8f0f7;
}

.testimonials-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
}

.testimonial {
  background-color: #fff;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.05);
  border-radius: 11px;
  padding: 3.2rem;
}

.testimonial-left-col {
  justify-self: end;
  align-self: start;
}

.testimonial-left-col,
.testimonial-right-col {
  display: grid;
  gap: 3.2rem;
  width: 75%;
}

.testimonial-right-col {
  margin-top: 9.6rem;
}

.testimonial-text {
  font-size: 1.6rem;
  line-height: 1.6;
  padding-bottom: 3.2rem;
  color: #777;
  border-bottom: 1px solid #ddd;
  margin-bottom: 2.4rem;
}

.testimonial-rating-box {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 3.2rem;
}

.star-icon {
  width: 1.6rem;
  height: 1.6rem;
  color: #ffe066;
}

.testimonial-author-box {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.testimonial-img img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
}

.testimonial-name {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.testimonial-location {
  font-size: 1.4rem;
}

/****************************/
/*      PRICING SECTION     */
/****************************/
