/****************************/
/*          HEADER          */
/****************************/

.header {
  background-color: #e8f0f7;
  position: relative;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 130rem;
  margin: 0 auto;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

/****************************/
/*        NAVIGATION        */
/****************************/
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #555;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: #135089;
}

/* MOBILE */
.btn-mobile-nav {
  border: 0;
  background-color: transparent;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  width: 4.8rem;
  height: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 9.6rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  z-index: 999;
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/****************************/
/*      HERO SECTION        */
/****************************/
.section-hero {
  padding: 4.8rem 0 9.8rem 0;
  background-color: #e8f0f7;
}

.hero {
  max-width: 130rem;
  padding: 0 4.8rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.hero-img-box {
  position: relative;
  display: flex;
  justify-content: center;
}

.hero-img-box::before,
.hero-img-box::after {
  content: "";
  width: 55%;
  height: 55%;
  position: absolute;
  padding-bottom: 35%;
  border-radius: 5px;
}

.hero-img-box::before {
  background-color: #1864ab;
  top: 5%;
  right: 20%;
}

.hero-img-box::after {
  background-color: #bad1e6;
  top: 8%;
  left: 20%;
}

.hero-img {
  width: 55%;
  z-index: 1;
  border-radius: 5px;
}

/****************************/
/*     FEATURED SECTION     */
/****************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.featured-container {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 3.2rem;
  align-items: center;
}

.heading-featured-in {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.85px;
  margin-bottom: 4.8rem;
  line-height: 1.2;
  color: #555;
}

.featured-logos-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  justify-items: center;
  column-gap: 4.8rem;
  row-gap: 3.2rem;
}

.featured-logo {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 40%;
}

/****************************/
/*   HOW IT WORKS SECTION   */
/****************************/
.section-how-works {
  padding: 9.6rem 0;
}

.step-box {
  position: relative;
  box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.15);
  padding: 4.8rem 2.4rem 3.2rem 2.4rem;
  border-radius: 11px;
}

.step-number {
  display: block;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, 5%);
  font-size: 2.4rem;
  font-weight: 500;
  background-color: #1864ab;
  padding: 1.6rem;
  color: #e8f0f7;
  border-radius: 50%;
}

.step-title-box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin: 2.4rem 0;
}

.step-icon {
  width: 3.2rem;
  height: 3.2rem;
  color: #1864ab;
}

.step-title {
  font-size: 2rem;
  font-weight: 500;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/****************************/
/*    SERVICES SECTION      */
/****************************/

.section-services {
  padding: 8rem 0 9.6rem 0;
}

.services-container {
  display: grid;
  grid-template-columns: 55fr 44fr;
  align-items: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(7, 1fr); */
  gap: 1.2rem;
}

.gallery-item:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}

.gallery-item:nth-child(2) {
  grid-column: 3/4;
  grid-row: 1/2;
}

.gallery-item:nth-child(3) {
  grid-column: 3/4;
  grid-row: 2/3;
}

.gallery-item:nth-child(4) {
  grid-column: 1;
  grid-row: 3/4;
}

.gallery-item:nth-child(5) {
  grid-column: 1;
  grid-row: 4/5;
}

.gallery-item:nth-child(6) {
  grid-column: 2/4;
  grid-row: 3/5;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  object-fit: cover;
  filter: brightness(0.7);
}

.gallery-item img:hover {
  transform: scale(1.2);
  filter: brightness(1);
}

.services-list {
  display: grid;
  /* padding: 9.6rem; */
  grid-template-columns: 1fr;
  gap: 4.8rem;
}

.services-box {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2.4rem;
  padding: 2.4rem;
  box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0.05);
  border-radius: 11px;
  cursor: pointer;
  transition: all 0.3s;
}

.services-box:hover {
  transform: scale(1.02);
}

.service-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e7f5ff;
  background-color: #1864ab;
  padding: 2.4rem;
  border-radius: 50%;
}

.service-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  line-height: 1.5;
}

.service-description {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #555;
}

.housekeeper {
  width: 75%;
}

.housekeeper--imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  align-items: center;
}

.housekeeper-img {
  display: block;
  width: 100%;
  border-radius: 5px;
}

.housekeeper--info {
  justify-self: end;
}

.housekeeper-heading {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.housekeeper-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/****************************/
/*    TESTIMONIALS SECTION  */
/****************************/
.section-testimonials {
  padding: 9.6rem 0;
  background-color: #e8f0f7;
}

.testimonials-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
}

.testimonial {
  background-color: #fff;
  box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0.05);
  border-radius: 11px;
  padding: 3.2rem;
}

.testimonial-left-col {
  justify-self: end;
  align-self: start;
}

.testimonial-left-col,
.testimonial-right-col {
  display: grid;
  gap: 3.2rem;
  width: 75%;
}

.testimonial-right-col {
  margin-top: 9.6rem;
}

.testimonial-text {
  font-size: 1.6rem;
  line-height: 1.6;
  padding-bottom: 3.2rem;
  color: #777;
  border-bottom: 1px solid #ddd;
  margin-bottom: 2.4rem;
}

.testimonial-rating-box {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 3.2rem;
}

.star-icon {
  width: 1.6rem;
  height: 1.6rem;
  color: #ffe066;
}

.testimonial-author-box {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.testimonial-img img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
}

.testimonial-name {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.testimonial-location {
  font-size: 1.4rem;
}

/****************************/
/*      PRICING SECTION     */
/****************************/

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 6.4rem;
}

.pricing-plan {
  position: relative;
  padding: 3.2rem;
  border-radius: 11px;
}

.pricing-plan--standard {
  border: 2px solid #e8f0f7;
}

.pricing-plan--deep {
  background-color: #e8f0f7;
  transform: scale(1.05, 1.11);
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.05);
}

.plan-header {
  margin-bottom: 4.8rem;
  text-align: center;
}

.plan-name {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.8;
  font-weight: 500;
  color: #e7f5ff;
  background-color: #1864ab;
  padding: 0.4rem 1.2rem;
  text-transform: uppercase;
  border-radius: 10rem;
  letter-spacing: 0.5px;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.4rem;
  font-weight: 600;
  color: #383838;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3.2rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

.plan-book-now {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

/****************************/
/*    CONTACT SECTION       */
/****************************/

.section-contact {
  padding: 9.6rem 0 8rem 0;
}

.cta-container {
  background-color: #1864ab;
  padding: 4.8rem;
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.contact-heading {
  font-size: 3.2rem;
  color: #e7f5ff;
  margin-bottom: 3.2rem;
  text-align: center;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.input-grp label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 1.2rem;
}

.input-grp input,
.input-grp select {
  width: 100%;
  font-family: inherit;
  color: inherit;
  font-size: 1.8rem;
  padding: 1.2rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.01);
}

.contact-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.2rem;
  row-gap: 9.6rem;
}

.contact-card {
  border: 2px solid #e8f0f7;
  border-radius: 11px;
  padding: 3.2rem 2.4rem;

  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.contact-icon {
  width: 2.4rem;
  height: 2.4rem;
  min-width: 2.4rem;
  min-height: 2.4rem;
  background-color: #1864ab;
  color: #e7f5ff;
  padding: 1.2rem;
  border-radius: 50%;
}

.contact-type {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  align-self: end;
}

.contact-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

.contact-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(186, 209, 230, 0.5);
}

/****************************/
/*          FOOTER          */
/****************************/
.footer {
  padding: 9.6rem 0;
  border-top: 1px solid #ddd;
}

.branding-logo {
  display: block;
  text-decoration: none;
  margin-bottom: 1.6rem;
}

.branding-text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 1.6rem;
}

.footer-link:link,
.footer-link:visited {
  font-size: 1.8rem;
  color: #767676;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.footer-heading {
  color: #555;
  font-size: 1.8rem;
  margin-bottom: 4rem;
  font-weight: 500;
  text-transform: uppercase;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
